.filter_marks {
  list-style-type: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin-left: 25%;

  li {
    border-bottom: 1px solid grey;
    padding: 5px 0px 5px 10px;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
