.favorites {
  border-bottom: 1px solid black;
  padding-bottom: 5px;

  h4 {
    text-align: center;
  }

  .favorite_list {
    // height: 140px;
    // overflow-y: hidden;

    .favorite_item {
      display: inline-block;
      width: 24%;
      margin-left: 1%;
      text-align: center;
      border: 1px solid grey;
      border-radius: 5px;
      height: 130px;
      margin-top: 5px;
      overflow-y: hidden;

      &:first-child,
      &:nth-child(4n + 1) {
        margin-left: 0;
      }
    }
  }
}
