.ad_element {
  margin-top: 20px;
  min-height: 180px;
  min-width: 100%;

  .content {
    text-align: left;
    background-color: #f5f5f5;

    tr:last-child {
      th,
      td {
        border-bottom: none;
      }
    }
  }

  .loading {
    margin-top: 60px;
  }
}
