.mark_card {
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;
  padding: 5px;
  margin-top: 15px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  select {
    width: 80%;
    margin-left: 10%;
    height: 25px;
    margin-bottom: 15px;

    &#states {
      height: 40px;
    }
  }

  .add_to_filter {
    width: 80%;
    margin-left: 10%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid black;

    &:hover {
      cursor: pointer;
    }
  }
}
