.ad_feed {
  width: 50%;
  display: block;
  float: left;

  h4 {
    text-align: center;
  }

  .empty_cars {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid red;
    text-align: center;
    font-weight: bold;
    width: 60%;
    margin-left: 20%;
    background-color: indianred;
  }
}
